<%= nav_bar brand: "Tradutor", brand_link: root_path %>

<div class="container">
  <h1>Editar Tradução</h1>

  <%= form_for @translation, url: translation_path do |f| %>

    <div class="form-group">
      <%= f.label :texto_portugues %>
      <%= f.text_field :texto_portugues, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :texto_ingles %>
      <%= f.text_field :texto_ingles, class: "form-control" %>
    </div>

    <%= f.submit 'Editar', class: 'btn btn-primary' %>
    <%= link_to 'Voltar', root_path, class: 'btn btn-primary' %>

<% end %>

</div>
