<%= nav_bar brand: "Tradutor", brand_link: root_path %>
<div class="container">
<h1>Lista de Traduções</h1>

<% unless @translations.empty? %>
<table class="table">
  <thead style="font-weight: bold;">
    <tr>
      <td>Texto Português</td>
      <td>Texto Inglês</td>
    </td>
  </thead>
  <tbody>
    <% @translations.each do |translation| %>
      <tr>
        <td><%= translation.texto_portugues %></td>
        <td><%= translation.texto_ingles %></td>
        <td><%= link_to 'Verificar', translation, class: "btn btn-info"  %></td>
        <td><%= link_to 'Editar', { action: 'edit', id: translation.id}, class: "btn btn-warning"  %></td>
        <td><%= link_to 'Remover', translation, method: :delete, data: { confirm: "Certeza que deseja remover?" }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to 'Adicionar Tradução', new_translation_path, class: "btn btn-success" %>
</div>
